*{
    background-color: mediumpurple;
    margin: 0;
    padding: 0;

}

.btn_1{
    background-color: greenyellow;
    color: blue;
    width: 110px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
}
.btn_1:hover{
    background-color: yellow;
}
.btn_2{
    background-color: #f7a6a6;
    color: blue;
    width: 110px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
}

.item{
    fill: cornflowerblue;
    border: 10px solid cornflowerblue;
    background-color: grey;
    margin-left: 50px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;

}
.item-title{
    color: #8dc5e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close{
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    border: 2px solid deepskyblue;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.close:hover{
    background-color: #f01a1a;
    color: green;
}